.login-form-fields-bottom-content {
    display: flex;
    justify-content: space-between;
}

.login-form-fields-bottom-content .forgot-password-link {
    color: #0049FC;
    font-weight: 600;
}

.login-form-footer-content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.login-form-footer-content .signup-option-button {
    background: transparent;   
    border: 0;
    font-weight: 600;
    color: #0049FC;
    font-size: 16px;
    cursor: pointer;
}