.banner {
    width: 100%;
    background: url('../../images/jpg/BG.jpg');
    background-size: cover;
    z-index: 1;
}

.banner-content {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
}

.banner-content img {
    width: 500px;
}

@media only screen and (max-width: 850px) {
    
    .banner-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-content img {
        width: 300px;
    }
    
}