.job-details {
    width: calc(100% - 300px);
    height: 100%;
    overflow: scroll;
    padding: 20px;
}

.job-content {
    width: 100%;
}

.job-content h2 {
    font-weight: 500;
    font-size: 30px;
}

.job-description {
    padding:20px;
}

.job-description h4 {
    color: rgb(84, 83, 83);
    margin-bottom: 5px;
    margin-top: 10px;
}

.job-description li {
    color: rgb(164, 164, 164);
    padding-bottom: 5px;
}